.text li {
  font-family: ainslie-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  list-style: none;
  padding: 0 0 10px 0;
}

/* CSS til desktop */
@media (min-width: 600px) {
  .img-square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .bottom {
    padding: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
  }

  .bottom img {
    grid-column: 2/3;
  }

  #web_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .col-left {
    padding: 0px 25px 50px 50px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col-right h3 {
    text-align: center;
    font-family: aviano-didone, serif;
    font-weight: 500;
    font-style: normal;
    color: #060606;
    font-size: 1.5rem;
  }
  .col-right {
    padding: 0px 50px 50px 25px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  .col-right img {
    height: 100%;
    min-height: 0;
  }
}

/* CSS til mobil */
@media (max-width: 600px) {
  .img-square {
    display: none;
  }
  .col-left {
    padding: 25px 25px 25px 25px;
  }

  .col-right {
    padding: 25px 25px 25px 25px;
  }
  .col-right h3 {
    text-align: center;
    font-family: aviano-didone, serif;
    font-weight: 500;
    font-style: normal;
    color: #060606;
    font-size: 1.5rem;
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
